exportPattern("^[[:alpha:]]+")
useDynLib("scBIRD")
export(bird)
export(scBIRDui)
export(bird_loci)
import(Rcpp)
import(shiny)
import(shinythemes)
import(AnnotationHub)
import(SingleCellExperiment)
import(Seurat)
import(scater)
import(reshape2)
import(dplyr)
import(tidyr)
import(scran)
import(HCAdata)
import(XVector)
import(ensembldb)
import(HCAdata)
